

/*-----------------------------------------------------------------------------------
                                APP DIV + KEYFRAMES 
-----------------------------------------------------------------------------------*/

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  /* margin-top: 10%; 
  margin-bottom: 10%;  */
  align-items: center;
  min-width: 644px;
  position:relative;
 /* move whole app up and down */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: my-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes my-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}

@keyframes fadeOut {
  from { opacity: 1;}
  to   { opacity: 0;}
}


@keyframes textgrowth {
  0% {
  font-size: 18px;
  }
  100% {
  font-size: 20px;
  }
}

@keyframes q-textgrowth {
  0% {
  font-size: 16px;
  padding-left: 0px;
  }
  100% {
  font-size: 24px;
  padding-left: 55px;

  }
}

@keyframes a-textgrowth {
  0% {
  font-size: 16px;
  padding-left: 0px;
  }
  100% {
  font-size: 24px;
  padding-left: 110px;

  }
}

@keyframes q-text-shrink {
  0% {
    font-size: 24px;
    padding-left: 55px;
    }

  100% {
    font-size: 16px;
    padding-left: 0px;
  }
  
}

@keyframes vote-img-growth {
  0% {

  }
  50%{
    height : 65px;
    width: 70px;
  }
  100% {
  height: 50px;
  width: 55px;

  }
}

@keyframes img-growth {
  0% {
  width: 115px;
  height: 115px;
  border: groove 2px #b9b9b9;
  }
  50%{
    width: 135px;
    height: 135px;
  }
  100% {
  width: 130px;
  height: 130px;
  border: inset 3px #1C6EA4;

  }
}


@keyframes img-shrink {
  0% {
    /* width: 130px;
    height: 130px;
    border: solid 2px #1C6EA4; */
  }
  50%{
    width: 110px;
    height: 110px;
    border: solid 2px #b9b9b9;
  }
  100% {
    width: 115px;
    height: 115px;
    border: groove 2px #b9b9b9;

  }
}

@keyframes side-line-break-growth {
  0% {
    height: 115px;
  }

  100% {
    height: 310px;

  }
}


@keyframes side-line-break-shrink {
  0% {
    height:310px;
  }

  100% {
    height:  115px;

  }
}

@keyframes display {
  0% {
    display:'none';
    opacity: 0;
  }

  100% {
    display:'block';
    opacity: 1;

  }
}

@keyframes rotate-header {
  0% {
    border-bottom: double 0px #ffffff;
    transform: rotate(0deg);

  }

  33% {
    border-bottom: double 0px #ffffff;
    transform: rotate(45deg);

  }

 66% {
    border-bottom: double 0px #ffffff;
    transform: rotate(-45deg);

  }

  100% {
    transform: rotate(0deg);
    border-bottom: double 2px #f3f3f3;



  }
}




/*-----------------------------------------------------------------------------------
                                HEADER / TITLE+SIGNATURE 
-----------------------------------------------------------------------------------*/

.Heading-div{
  display: block;
  background-color:#359FCA;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  /* border-top: 7px outset #1C6EA4;
  border-right: 2px solid #1C6EA4;
  border-left: 2px solid #1C6EA4; */
  overflow: hidden;
  border: 5px groove #1C6EA4;
  border-radius: 31px 31px 0px 0px;
  cursor: pointer;
  height: 45px;
  /* margin-right: 10px; */
  box-shadow: 0px -.5px 0px 1px #000000; 

}


@font-face {
  font-family: 'game-show2';
  src: url('./2.ttf') format('truetype');
}

@font-face {
  font-family: 'game-show';
  src: url('./1.ttf') format('truetype');
  src: local("☺"),
  url('./1.ttf') format('truetype');
}
 
.title-animate{
  display: inline-block;
  font-size: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 150%;
  font-weight: bolder;
  color: #359FCA;
  /* margin-top: 10px; */
}


.question-marks-animate{
  display: inline-block;
  font-size: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 150%;
  font-weight: bolder;
  color: #359FCA;



  }
.signature-animate {
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  margin-top: 26px;
  margin-left: 25px;
  color: white;

}



.title{
  display: inline-block;
  font-size: 18px;
  font-family:'game-show2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 150%;
  font-weight: bolder;
  background: #333333;
}

.question-marks{
  display: inline-block;
  font-size: 18px;
  font-family:'game-show',  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 150%;
  font-weight: bolder;



  }

.signature {
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  margin-top: 8px;
  margin-left: 25px;
  color: white;

}


/*-----------------------------------------------------------------------------------
                                    NAV CSS 
-----------------------------------------------------------------------------------*/
.nav{
  display: flex;
  justify-content: left;
  color:white;
  border-left: 2px groove #1C6EA4; 
  border-right: 2px groove #1C6EA4;  
  border-radius: 0px 0px 0px 0px;
  background-color:white;
  box-shadow: 0px 0px 0px 1px #000000; 
  position:relative;
  
  overflow: hidden;
  height: 64px;

}

.nav-links{
  list-style-type: none;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  width:50%;

}

.nav-links li:first-child {
  padding-left: 15%;
}

.nav-links li:nth-child(-n+3){
  margin-left: 35px;
  margin-top:7px;

}


.li-logout{
  margin-left: 105px;
  text-decoration: 'none';
  color:rgb(0, 0, 0);
  font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  width:auto;
  height:100%;
  padding: 16px 0;
  width: auto;

}

.li-logout span{
  margin-right:5px;
  cursor: pointer;
  text-decoration: 'none';
  color:rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  border-top: 1px double #359FCA;
  border-bottom: 1px double #359FCA;
  border-radius: 0px 0px 8px 8px ;
  text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
}

.li-logout span:hover{
  text-decoration: 'none';
  color:#000000;
  /* background-color:#1C6EA4; */
  padding:5px 5px 5px;
  width: 40%;
  height: 200px;
  /* box-shadow: inset 0 10px #ffffff, inset 4px 0 #ffffff, inset -4px 0 #ffffff, inset 0 -4px  #ffffff; */
  box-shadow: 0px 40px 0px -10px #FFFFFF, 
  0px 0px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 
  0px 0px 0px 2px #000000, 2px 2px 4px 2px rgba(0,0,0,0);
  /* padding:10px;*/
  border: 1px double #359FCA;
  border-radius: 0px 0px 8px 8px ; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-shadow: none;
  transition: 0.3s;
}

.nav-user-img{

    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: groove 2px #b9b9b9;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 15px;
    

}


.non-active-tab{
  width: 100%;
  text-decoration: 'none';
  color:rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  border-top: 1px double #359FCA;
  border-bottom: 1px double #359FCA;
  border-radius: 0px 0px 8px 8px ;
  text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
}

.non-active-tab:hover{
  text-decoration: 'none';
  color:#000000;
  /* background-color:#1C6EA4; */
  padding:5px 5px 5px;
  width: 40%;
  height: 200px;
  /* box-shadow: inset 0 10px #ffffff, inset 4px 0 #ffffff, inset -4px 0 #ffffff, inset 0 -4px  #ffffff; */
  box-shadow: 0px 40px 0px -10px #FFFFFF, 
  0px 0px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 
  0px 0px 0px 2px #000000, 2px 2px 4px 2px rgba(0,0,0,0);
  /* padding:10px;*/
  border: 1px double #359FCA;
  border-radius: 0px 0px 8px 8px ; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-shadow: none;
  transition: 0.3s;
}

.active-tab{
  text-decoration: 'none';
  color:#000000;
  /* background-color:#1C6EA4; */
  padding:5px 5px 5px;
  width: 40%;
  height: 200px;
  /* box-shadow: inset 0 10px #ffffff, inset 4px 0 #ffffff, inset -4px 0 #ffffff, inset 0 -4px  #ffffff; */
  box-shadow: 0px 40px 0px -10px #FFFFFF, 
  0px 0px 0px -10px #FFFFFF, 20px 0px 0px -10px #FFFFFF, -20px 0px 0px -10px #FFFFFF, 
  0px 0px 0px 2px #000000, 2px 2px 4px 2px rgba(0,0,0,0);
  /* padding:10px;*/
  border: 1px double #359FCA;
  border-radius: 0px 0px 8px 8px ; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-shadow: none;

}



hr.style13 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color:white;
  border-left: 2px inset #1C6EA4; 
  border-right: 2px inset #1C6EA4;  
  border-radius: 0px 0px 0px 0px;
  width:99.2%;
  margin-top: 0px;
}

/*-----------------------------------------------------------------------------------
                                  BORDER/BODY CSS 
-----------------------------------------------------------------------------------*/


.border-body{
  border-left: 2px groove #1C6EA4; 
  border-right: 2px groove #1C6EA4;  
  border-radius: 0px 0px 0px 0px;
  height:calc(100% - 60px - 45px - 53.6px - 101.516px - 11.5px - 25px);
  margin: auto;
  /* height:30vh; 30vh animate */
  display: block;
  background-color:white;
  box-shadow: 0px 1px 0px 1px #000000; 
  padding-bottom: 5%;
  overflow: auto;

}


  /*-----------------------------------------------------------------------------------
                                    HOME TAB CSS 
  -----------------------------------------------------------------------------------*/

  .question-table{
    
    background-color:white;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    display: block;
    width:602px;
    min-width: 502px;
    max-width: 702px;
    max-height: 93%;
    height: auto;
    box-shadow: 0px 14px 0px -10px rgb(255, 255, 255), 
      0px -14px 0px -10px #FFFFFF, 18px 0px 10px 0px #FFFFFF, 
      -18px 0px 10px 0px #FFFFFF, 0px 0px 2px 2px #000000, 2px 2px 4px 2px rgba(0,0,0,0);
    overflow-y: auto;
    overflow-x:hidden;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
  }

  .question-table::-webkit-scrollbar-track {
    border: 1px double rgb(255, 255, 255);
    padding: 2px 0;
    background-color:#f3f3f3;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    border-top-right-radius:5px; 

  }

  .question-table::-webkit-scrollbar {
    width: 10px;
  }

  .question-table::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
    background-color: #f4f4f4;
    border: 1px solid rgb(255, 255, 255);
    border-top-left-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px; 
    border-top-right-radius:3px; 
  }


  .button-container{
    display:flex; 
  }

  .unanswered{
    display: inline-block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
    padding: 5px 10px;
    width:50%;
    height:30px;
    background-color:#ffffff;
    color:rgb(0, 0, 0);
    /* text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000; */
    border-bottom: 2px solid #f3f3f3; 
    border-right: 2px solid #000000; 
    /* box-shadow: 0px 40px 0px -10px rgb(255, 255, 255), 
      0px -20px 0px -10px #FFFFFF, 20px 5px 10px -10px #FFFFFF, 
      -20px 5px 10px -10px #FFFFFF, 2px 0px 2px 0px #000000, 2px 2px 4px 2px rgba(0,0,0,0); */
    box-shadow: 0px 12px 0px -10px rgb(255, 255, 255), 
    0px 0px 0px -10px #FFFFFF, 0px 5px 10px -10px #ff4343, 
    -20px 5px 10px -10px #FFFFFF,  0px 2px  #020405, 2px 2px 4px 2px rgba(255, 19, 19, 0);
    /* border-top-right-radius:5px; */
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
  }

  .answered{
    display: inline-block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    cursor: pointer;
    padding: 5px 10px;
    width:50%;
    height:30px;
    background-color:#ffffff;
    color: #b9b9b9; 
    border-bottom: 2px solid #f3f3f3; 
    /* border-right: 2px inset #000000;  */
    /* box-shadow: 0px 40px 0px -10px rgb(255, 255, 255), 
      0px -20px 0px -10px #FFFFFF, 20px 5px 10px -10px #FFFFFF, 
      -20px 5px 10px -10px #FFFFFF, 2px 0px 2px 0px #000000, 2px 2px 4px 2px rgba(0,0,0,0); */
    box-shadow: 0px 12px 0px -10px rgb(255, 255, 255), 
    0px 0px 0px 0px #FFFFFF, 0px 5px 10px -10px #ffffff, 
    0px 5px 10px -10px #FFFFFF,  0px 2px  #f3f3f3, 2px 2px 4px 2px rgba(255, 5, 5, 0);
    /* border-top-right-radius:5px; */
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
  }

  #show-answers-container{
    
    display:none;
  }

  #show-questions-container{
    animation: fadein 3s;
    display: block;
  }

  .question-card {
    display:block;
    border: solid 2px #f3f3f3;
    width: 90%;
    min-width: 550px;

    margin: 10px auto 10px auto;
    
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 

  }
  .who{
    width: 100%;
    background-color: #f3f3f3;
    font-size: 16px;
    border-bottom: solid 2px #b9b9b9;
    display: inline-block;

  }

  .who p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    margin:10px 0px 0px 10px;
    width:auto;

  }


  .question-card-body{
    display: inline-block;
    width:100%;
    margin: auto;
  }

  .question-card-img{
    border-radius: 50%;
    height: 115px;
    width: 115px;
    border: groove 2px #b9b9b9;
    text-align: left;
    margin: 20px 20px 20px 20px;
    display: inline;
    /* border: solid yellow 2px; */
    float:left;
    overflow: hidden;
    background-color: white;
  }


  .side-line-break{
    border: 1.5px solid #f3f3f3;
    background-color: #f3f3f3 ;
    margin-top: 5%;
    /* margin-left: 3%; */
    height:115px;
    overflow: hidden;
    float: left;
    display: inline-block;
    /* border: solid #ff0000 2px; */

  }

  .question{
    height: 100%;
    width: calc(532px - 168px);
    margin-top: 5%;
    float: left;
    display: inline-block;
    /* border: solid #ff0000 2px; */


  }
  .question .p-title {
    margin-left: 10px;
    margin-top: 0px; 
    margin-bottom: 0;
    padding-left: 1%;
    display:block;
    text-align: left;
    font-family: 'game-show' ,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    width:250px;
    font-size:20px;

    /* border: solid red 2px; */

  }

  .question .p-question {
    margin-left: 10px;
    margin-top: 20px; 
    margin-bottom: 0;
    padding-left: 1%;
    display: block;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    width:auto;


    /* border: solid red 2px; */
  }

  .question .p-question-btn{

    text-align: center;
    padding:8px;
    border: inset 2px #1C6EA4;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    color: #1C6EA4;
    width: 98%;
    height:auto;
    margin:30px 10px auto 10px;
    cursor:pointer;
    display: block;

  }

  .answer-form{
    display:none; 
    width:100%;
    vertical-align: middle;

  }
  .answer-form fieldset{
    display: inline-grid;
    line-height: 1;
    border:none;
    padding:0;
  }

  .answer-form input{
    text-align: left;
    display:inline;
    float:left;
    vertical-align: middle;
    background-color: #359FCA;
    overflow: hidden;
  }

  .answer-form label{
    float:left;
    vertical-align: middle;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 8px;


  
  }

  .submit-answer{
    width: 98%;
    height:auto;

    margin:auto 2% auto 2%;
    margin-top: 5px;

    text-align: center;
    padding:10px;
    padding-left: 38%;
    border: groove 2px #1C6EA4;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
  }

  #show-answers-container .question{
    /* width: 100%;
    margin-left: auto;
    margin-right: auto; */


  }

  .your-vote{
    display: none;
    background-color:#35a0ca42;
    border: groove 2px #1C6EA4;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    width: 100%;
    height: auto;
    margin:auto 10px;
    padding:auto;
    position: relative;
  }

  .your-vote .vote-img{
    height: 50px;
    width:55px;
    padding:0;
    margin:0;
    position: absolute;
    top: -30px;
    right: -28px;
    display: inline;
  

  }
  .p-wyr{
    color: #0D3550;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }

  .p-min-max{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:2px;
  }

  .others-vote{
    display: none;
    background-color:#35a0ca42;
    border: groove 2px #1C6EA4;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    width: 100%;
    height: auto;
    margin:10px 10px 15px 10px;
    padding:auto;
  }

  .percentage-bar{
    background-color: #f3ebeb;
    border: solid 1px #b9b9b9;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    width: 70%;
    height: 25px;
    margin:auto;
    overflow: hidden;
  }

  .percentage-bar .p-percentage{
    background-color: #359FCA;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    border: groove 2px transparent;
    text-align: right;
    display: inline-block;
    float:left;

    margin:0px;
    padding:0px;
    margin-left:-4px;


    width: 0%;
    height: 25px;
    color:white;
  }

  /*-----------------------------------------------------------------------------------
                                    NEW QUESTION TAB CSS 
  -----------------------------------------------------------------------------------*/

  .new-question-container{
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 45%;
    min-height: 25em;
    max-height: 70%;
    margin: 5% auto;
    border: groove 2px #b9b9b9;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
  }

  .n-q-c-header{
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: double 2px #f3f3f3;
    padding-bottom: 15px;
    margin: 15px 0;
    animation:rotate-header 1s ease;
  }

  .n-q-c-hint{
    text-align: left;
    padding-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#383838;


  }

  .n-q-c-phrase{
    text-align: left;
    padding-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
  }

  .n-q-c-form{
    padding: 0 15px; 
    margin: auto;
    
  }
  .n-q-c-Q1{
    width: 100%;
    height: 35px;
    background-color: #ffffffe8;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    border: solid 2px #b9b9b9;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;

  }

  .n-q-c-hr { 
    display: flex; 
    flex-direction: row; 
    margin:0px;
} 
  
  .n-q-c-hr:before, 
  .n-q-c-hr:after { 
      content: ""; 
      flex: 1 1; 
      border-bottom: 2px solid rgb(151, 151, 151); 
      margin: auto; 
  } 

  .n-q-c-Q2{
    width: 100%;
    height: 35px;
    background-color: #ffffffe8;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    border: solid 2px #b9b9b9;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
  }


  .n-q-c-submit{
    width: 460px;
    height: 40px;
    background-color: #359FCA;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    border: inset 2px #1C6EA4;
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;

  }
  /*-----------------------------------------------------------------------------------
                              LEADERBOARDS TAB CSS 
  -----------------------------------------------------------------------------------*/


  .leaderboards-container{
    display: inline-block;
    width: 625px;
    height: auto;
    min-width: 625px;
    min-height: 55em;
    max-height: 70%;
    margin: 5% auto;
    /* border: groove 2px #000000; */
    overflow-y: scroll;


  }


   .leaderboards-container::-webkit-scrollbar-track {
    border: 1px double rgb(255, 255, 255);
    padding: 2px 0;
    background-color:#f3f3f3;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    border-top-right-radius:5px; 

  }

   .leaderboards-container::-webkit-scrollbar {
    width: 10px;
  }

   .leaderboards-container::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
    background-color: #f4f4f4;
    border: 1px solid rgb(255, 255, 255);
    border-top-left-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px; 
    border-top-right-radius:3px; 
  }
  .l-card{
    display:inline-block;
    border: solid 2px #b9b9b9;
    width: 97%;
    height:auto;
    min-width: 550px;
    min-height: 150px;
    margin: 10px auto 0px auto;
    
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

  }

  .l-card:nth-child(-n+3){
    display:inline-block;
    border: groove 2px #57C91C;
    width: 97%;
    height:auto;
    min-width: 550px;
    min-height: 150px;
    margin: 10px auto 0px auto;
    
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    overflow-x: hidden;
    overflow-y: auto;

  }
  
  .l-img{
    border-radius: 50%;
    height: 115px;
    width: 115px;
    border: groove 2px #b9b9b9;
    text-align: left;
    margin: 20px 20px 20px 20px;
    display: inline;
    background-color: white;
    display: inline;
    float: left;

  }


  .l-card:nth-child(-n+3) .l-img{
    border-radius: 50%;
    height: 115px;
    width: 115px;
    border: inset 3px #fc9957;
    text-align: left;
    margin: 20px 20px 20px 20px;
    display: inline;
    background-color: white;
    display: inline;
    float: left;

  }



  .l-img-prize{
    width: 50px;
    height:auto;
    padding: 0;
    margin:0;
    display: none;
    position: absolute;
    top: 68%;
    right: 35%;

  }
  .l-card:nth-child(1) .l-img-prize{
    width: 50px;
    height:auto;
    padding: 0;
    margin:0;
    display: inline-block;
    position: absolute;
    top: 68%;
    right: 32.5%;
    content:url("../images/first-place.png");
 

  }

  .l-card:nth-child(2) .l-img-prize{
    width: 50px;
    height:auto;
    padding: 0;
    margin:0;
    display: inline-block;
    position: absolute;
    top: 68%;
    right: 34%;
    content:url("../images/second-place.png");

  }

  .l-card:nth-child(3) .l-img-prize{
    width: 50px;
    height:auto;
    padding: 0;
    margin:0;
    display: inline-block;
    position: absolute;
    top: 68%;
    right: 34%;
    content:url("../images/third-place.png");

  }
  .l-body{
    display: inline-block;
    height: auto;
    width: auto;
    float: left;
    margin: 8px 15px;
    margin-top: 15px;


  }
  
  .l-user{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    font-size: 27px
  }
  
  .l-answered{
    /* border: 4px solid red; */
    display:block;
    overflow: hidden;
    min-width: 270px;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;


    /* border: 4px solid red; */

  }

  .l-answered-left{
    /* border: 4px solid red; */
    display:inline-block;
    padding: 0px;
    float: left;
    margin: 0px;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;



  }
  
  .l-answered-right{
    /* border: 4px solid red; */
    display:inline-block;
    padding: 0px;
    float: right;
    margin: 0px;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    padding-right: 10px;

  }



  .l-body hr{
    border: 1.5px solid #f3f3f3;
    background-color: #f3f3f3 ;
    margin: 5px 0px;

  }

  .l-card:nth-child(-n+3) .l-body hr{
    border: 1.5px groove #000000;
    background-color: #000000 ;
    margin: 5px 0px;

  }
  .l-card .side-line-break {
    border: 1.2px solid #f3f3f3;
    background-color: #f3f3f3 ;

  }

  .l-card:nth-child(-n+3) .side-line-break {
    border: 1.2px groove #000000;
    background-color: #000000 ;

  }

  .l-created{
    display:block;
    overflow: hidden;
    min-width: 270px;
    /* border: 4px solid red; */
    margin-top: 0px;

  }
  
  .l-created-left{
    /* border: 4px solid red; */
    display:inline-block;
    padding: 0px;
    float: left;
    margin: 0px;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;



  }
  
  .l-created-right{
    /* border: 4px solid red; */
    display:inline-block;
    padding: 0px;
    float: right;
    margin: 0px;
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    padding-right: 10px;

  }

  .l-score-card{
    border: 2px #f1f1f1 solid;
    float:left;
    width: 90px;
    height: auto;
    margin: 27px 10px 0 10px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    overflow: hidden;
  }

  .l-card:nth-child(-n+3) .l-score-card{
    border: 2px #f1f1f1 solid;
    float:left;
    width: 90px;
    height: auto;
    margin: 27px 10px 0 10px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    overflow: hidden;
    color: #000000;
    
  }

  .l-card:nth-child(-n+3) .l-score-card{
    border: 2px #000000 groove;
    float:left;
    width: 90px;
    height: auto;
    margin: 27px 10px 0 10px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 
    overflow: hidden;
  }
  
  .l-header{
    background-color: #f4f4f4;
    border-bottom: 2px solid #f1f1f1;
    margin:0px;
    padding: 16px 0px;
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;


  }

  .l-card:nth-child(-n+3) .l-header{
    background-color: #f4f4f4;
    border-bottom: 2px groove #000000;
    margin:0px;
    padding: 16px 0px;
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;


  }
  
  .l-tally{
    border: 2px #1C6EA4 outset;
    background-color: #359FCA;
    border-radius: 50%;
    width:16px;
    height:13px;
    padding: 12px 15px 18px 15px;
    margin: 2px 10px 2px 20px;
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:white;
    font-size: 18px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1C6EA4;

  }

  /*-----------------------------------------------------------------------------------
                            LOGIN/INDEX TAB CSS 
  -----------------------------------------------------------------------------------*/

  .login-container{
    display: inline-block;
    width: auto;
    height: auto;
    min-width: 45%;
    min-height: 25em;
    max-height: 25em;
    margin: 5% auto;
    border: groove 2px #b9b9b9;
    background-color: #f3f3f3;
    position: relative;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 



    
  }

  .login-header{
    font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    padding: 0 10px;

  }

  .login-p{
    font-family: 'Franklin Gothic light', 'Arial Narrow', Arial, sans-serif;
    color: #313030;
    padding:0px;
    margin-top: 0;
  }

  .login-form{
    background-color:white;
    width: 100%;
    margin:auto;
    border-top:  groove 2px #b9b9b9;
    overflow: hidden;
    
  }

    .login-header-img{
      content:url("../images/atom.png");
      height:150px;
      width:150px;
      margin:auto;
      display:inline-block;
      animation: App-logo-spin infinite 20s linear;

      
    }

    .login-label{
      font-family: 'Franklin Gothic medium', 'Arial Narrow', Arial, sans-serif;
      color: #313030;
      padding:0px;
      margin-top: 0;
      font-size: 28px;
      /* color:white; */
      -webkit-text-stroke-width: 1.2px;
      -webkit-text-stroke-color: #1C6EA4;
      -webkit-text-fill-color: #3397E8;
    }

    .login-img{
      height:50px;
      width:50px;
    }

    .dropdown-toggle{
      margin-top:15px;
      border: 2px solid #b9b9b9;
      border-top-right-radius:5px;
      border-top-left-radius:5px;
      border-bottom-right-radius:5px;
      border-bottom-left-radius:5px; 
      width:80%;
      text-align: left;
      color:#b9b9b9;
      background-color:white;
      padding: 10px;
      font-size: 14px;

    }
    .dropdown-toggle:after{
      display: inline-block;
      float:right;
      margin-top: .255em;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      color: black;

    }

    .dropdown-toggle:hover{
      border-bottom: 0;

    }

  .dropdown-menu {
    position: relative;
    width:79.4%;

    min-width: 10rem;
    padding: .5rem 0;
    margin: 0 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;


    background-color: #ffffff;

    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px; 


  }

  .dropdown-menu .dropdown-item{
    display: inline-block;
    width: 100%;
    padding: .15rem auto;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: left;
    white-space: nowrap;
    background-color: #ffffff;
    border: 0;
    border: 0 2px solid #b9b9b9;
    text-decoration: none;


  }

  .dropdown-menu .dropdown-item:hover{

    background-color: #f3f3f3;




  }


    .login-submit{
      margin-bottom:20px;      
    }



    
  
/*-----------------------------------------------------------------------------------
                                    FOOTER CSS 
-----------------------------------------------------------------------------------*/



.footer{
  display: block;
  background-color:#359FCA;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

  overflow: hidden;
  border: 5px groove #1C6EA4;
  border-radius: 0px 0px 31px 31px;
  /* height: 100%;
  margin: auto; */
  box-shadow: 0px 1px 0px 1px #000000; 
  position: relative;
  bottom:10px;

}


.footer ul {
  list-style-type: none;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.footer ul li {
  padding-right: 60px;
  

}

.footer ul li a{
 color: #f7f7f7;
 font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
 font-weight: bold;
 text-decoration:none;
 /* background-image: url('../images/3.png');
 background-size: 3.5% 35%;
 background-repeat:no-repeat;
 background-position-x: 0%;
 background-position-y: 0px;
 background-size:contain; */
 text-shadow: 2px 1px 0 #000000, 2px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #f7f7f7, -1px 0px 0 #f0f0f0, 0px -1px 0 #000000;

}


.footer ul li a img{
  color: #f7f7f7;
  font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-decoration:none;
  width:30px;
  height:30px;
  text-shadow: 2px 1px 0 #000000, 2px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #f7f7f7, -1px 0px 0 #f0f0f0, 0px -1px 0 #000000;

  vertical-align: middle;
 }

.footer-copyright{

  display: block;
  background-color:#2b85a8;

  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom:1%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(255, 255, 255);
  text-align: center;
  text-decoration:solid;
  text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000;

}


.footer-hr {
  border: 0;
  height: 1px;
  background-color:rgb(0, 0, 0);
  margin-top: 0px;
}


.footer-copyright a{

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(91, 228, 240);
  text-align: center;
  text-decoration:none;
  /* TO MAKE IT NOT CLICKABLE */
  pointer-events: none;
  cursor: default;
}





