.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: my-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes my-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}

@keyframes textgrowth {
  0% {
  font-size: 18px;
  }
  100% {
  font-size: 20px;
  }
}

.Heading-div{
  display: block;
  background-color:#359FCA;
  width: 99.55%;
  height: 25%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 150%;
  border-top: 7px outset #1C6EA4;
  border-right: 2px solid #1C6EA4;
  border-left: 2px solid #1C6EA4;
  overflow: hidden;
  border-radius: 31px;
  /* margin: 0px 2px; */
}


@font-face {
  font-family: 'game-show2';
  src: url('2.ttf') format('truetype');
}

@font-face {
  font-family: 'game-show';
  src: url('1.ttf') format('truetype');
}
 
.title{
  display: inline-block;
  font-size: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  line-height: 150%;
  font-weight: bolder;
  color: #359FCA;
  }

  .question-marks{
    display: inline-block;
    font-size: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 150%;
    font-weight: bolder;
    color: #359FCA;



  }
.signature {
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  margin-top: 8px;
  margin-left: 25px;
  color: white;

}


